body {
    background-color: slategray;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url('./\ -9.jpg') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 160vh;
}

hr {
    background-color: skyblue;
    width: 500px;
    height: 2px;
    border: 0;
}

#game-borad {
    width: 450px;
    height: 450px;
    margin: 0 auto;

    background-color: skyblue;
    color: white;
    border: 6px solid lightblue;
    border-radius: 10px;

    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.game-cell {
    border: 6px solid lightblue;
    border-radius: 2px;
    font-size: 100px;
    
    justify-content: center;
    align-items: center;
    display: flex;

}

.winning-game-cell {
    background-color: white;
    color: skyblue;
}

#game-restart-button {
    height: 50px;
    width: 150px;
    border: 5px solid lightblue;
    border-radius: 10px;
    background-color: skyblue;
    color: white;
    font-size: 20px;
    margin-top: 20px;
}
/* Responsive สำหรับมือถือ */
@media (max-width: 480px) {
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}